
.search-document-container{

    display: flex;
    justify-content: center;
    
}

.search-document-button{
    background-color: #5DA7DB;
    border: 2px solid #0008C1;
    color: #0008C1;
    font-size: 1.2rem;
    padding: .5rem 2rem;
    cursor: pointer;
    margin-left: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-document-input{

    outline: none;
    font-size: 1em;

}

.error{
    border: 1px solid red;
}